main>.container {
    padding: 30px 0;
}

.body{
    position: relative;
    padding-bottom: 3em;
    min-height: 100vh;
}
.footer {
    background-color: #f5f5f5;
    padding: 1em 0;
    text-align: center;
    margin-top: auto;
}